html {
  position: relative;
  min-height: 100%;
  body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-height;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: $navbar-default-bg;
  border: 1px solid transparent;
  border-color: $navbar-default-border
}